<header>
<h1>Descripción del producto</h1>
</header>

<main>
    <section>
        <h3>Detalles: </h3>
        <div>
            <ul id="description-list"></ul>
        </div>
        <button id="btn-back-menu" >Volver al inicio</button>
    </section>
</main>

<script src="/api/public/js/description.js"></script>