<header>
<h1>Home - Productos</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
        <button id="btn-refresh-products-list" >Recargar lista</button>
        <button id="btn-new-product" >Crear producto</button>
        <button id="btn-cart-products" >Ir al carrito</button>
    </section>
</main>

<script type="module" src="/api/public/js/products.js"></script>